<!DOCTYPE html>
<html>
  <head>
  	 <script src="static/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>QA4LOV app</title>
  </head>

  <body>
    <h2>QA4LOV on the Web!</h2>
  
  <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-1">

		  <form action="/qa4lov" method="post">
         Question here: <input type="text" name="query"><br>
         <input type="submit" value="Submit">
      </form>
     </div>
  </div>
 </div>


  </body>
</html>